<!DOCTYPE html>
<html style="background: #000000;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MuMi Collector</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="background: rgba(255,255,255,0);">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="color: rgb(255,255,255);background: rgb(0,0,0);">
        <div class="container"><a class="navbar-brand" href="#" style="font-size: 30px;">MuMi Collector</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/" style="color: rgb(255,255,255);">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/details" style="color: rgb(255,255,255);">Details</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="color: rgb(255,255,255);background: rgb(0,0,0);">
        <div class="container" style="margin-bottom: 5rem;">
                <div class="d-flex flex-wrap justify-content-xl-center">
                    <div style="margin: 1rem;">
                        <h4 class="text-center" style="margin-top: 1rem;">Wareneingang</h4>
                        <table style="width 100%">
                            {{ range $i, $e := . }}
                            <tr>
                                <td><h4>{{ $e.Date}}</h4></td>
                            </tr>
                            {{ range $in, $el := $e.Datensaetze }}
                            <tr>
                                <td>{{ $el.DatumStr }}</td>
                                <td> | </td>
                                <td>{{ $el.Menge }}</td>
                            </tr>
                            {{ end }}
                            <tr>
                                <td><h5>Summe vom {{ $e.Date }} : {{ $e.Summe}} ml</h5></td>
                            </tr>
                            {{ end }}
                        </table>
                    </div>
                </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>